<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <title>Lotus</title>
        <meta name="robots" content="index, noarchive, follow" />
        <meta name="description" content="Somos uma empresa referência em serviços turisticos e organização de excursões de viagens para dentro de Arraial do Cabo. Já fomos avaliados por milhares de pessoas ao longo dos anos, com confiança e responsabilidade garantimos um ótimo serviço . Formada por pessoas profissionais e treinadas para levar uma melhor experiência para os nossos clientes.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
        <link href="css/main.min.css" rel="stylesheet" />
        <link rel="icon" href="images/favicon.png" />
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '2268178849957714');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=2268178849957714&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150738221-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-150738221-1');
          gtag('config', 'AW-700065967');
        </script>

    </head>
    <body>
        <div id="app">
          <div :class="[mobileMenuOpen ? 'mobile-menu-open' : '', 'menu-mobile-wrapper']">
            <div class="btn-menuMobile-wrapper" @click="toggleMenu">
              <div id="btn-menuMobile">
                <i class="open fas fa-bars"></i>
                <i class="close fas fa-times"></i>
              </div>
            </div>
              <nav @click="toggleMenu" class="menu-mobile">
                <li>
                  <a href="#features" v-smooth-scroll="{ duration: 1000, offset: -100 }">Serviços</a>
                </li>
                <li>
                  <a href="#who-we-are" v-smooth-scroll="{ duration: 1000, offset: 10 }">Quem Somos</a>
                </li>
                <li>
                  <a href="#trips" v-smooth-scroll="{ duration: 1000, offset: -100 }">Trip's</a>
                </li>
                <li>
                  <a href="#contact" v-smooth-scroll="{ duration: 1000, offset: -50 }">Contato</a>
                </li>
              </nav>
            </div>

            <modal @close="closeModalTrips" class="trips-modal" v-if="this.showModalTrips">
              <template  slot="body">
                <div class="header">
                  <div class="trips">
                    <img src="images/trips.png" alt="Trip's próximas excursões">
                  </div>
                  <div class="arraial">
                    <img src="images/arraial_trips.png" alt="Arraial do Cabo">
                  </div>
                </div>
                <div class="wrapper">
                  <div class="content">
                    <h1 class="title">{{ modalTrip.title}}</h1>
                    <h2 class="subtitle">{{ modalTrip.subtitle }}</h2>
                    <div v-html="modalTrip.highlight" class="highlight">
                    </div>
                    <div class="included-items">
                      <h1>{{ modalTrip.included_in_title }}</h1>
                      <ul class="items">
                        <li v-for="item in modalTrip.included_items">
                          {{ item.text }}
                        </li>
                      </ul>
                    </div>
                    <div v-if="modalTrip.images" class="trips-images">
                        <swiper ref="tripsImagesSwiper" :options="tripsImagesSwiperOptions">
                          <!-- slides -->
                          <swiper-slide class="trips-image-slider" v-for="(image, index) in modalTrip.images">
                              <div @click="openModalGallery(index, modalTrip.images)" class="image-wrapper">
                                <img :src="image.image" alt="">
                              </div>
                          </swiper-slide>
                          <!-- Optional controls -->
                          <div class="swiper-button-prev" slot="button-prev"></div>
                          <div class="swiper-button-next" slot="button-next"></div>
                        </swiper>
                    </div>
                    <div class="open-lead">
                        <button @click="openLeadModal('trip', modalTrip.slug, modalTrip.place)">
                            Quero ser informado sobre Trip's para <strong>{{ modalTrip.place }}</strong>
                        </button>
                    </div>
                    <div class="sale-text">
                      <span v-html="modalTrip.sale_text"></span>
                    </div>
                    <div class="dates">
                      <div class="date-wrapper" v-for="date in modalTrip.dates">
                        <span class="label">{{ date.name }}</span>
                        <span class="date">{{ formatDate(date.date) }}</span>
                      </div>
                    </div>
                    <div v-html="modalTrip.obs" class="obs">
                    </div>
                    <div class="payment-information">
                      <h1>Informações de Pagamento</h1>
                      <div v-html="modalTrip.payment_information">
                      </div>
                    </div>
                  </div>
                </div>
              </template>
              <template slot="testimonial-slider">
                  <div class="trips-testimonial">
                      <swiper ref="tripsTestimonialImagesSwiper" :options="tripsTestimonialImagesSwiperOptions">
                        <!-- slides -->
                        <swiper-slide class="trips-image-slider" v-for="(image, index) in modalTrip.testimonials_images">
                            <div @click="openModalGallery(index, modalTrip.testimonials_images)" class="image-wrapper">
                              <img :src="image.image" alt="">
                            </div>
                        </swiper-slide>
                        <!-- Optional controls -->
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                      </swiper>
                  </div>
              </template>
            </modal>
            <modal :title="modalFeature.name" @close="closeModal" class="feature-modal" v-if="this.showModal">
              <template slot="images-slider">
                  <swiper ref="imagesSwiper" :options="imagesSwiperOptions">
                    <!-- slides -->
                    <swiper-slide class="feature-image-slider" v-for="(image, index) in modalFeature.images">
                        <div @click="openModalGallery(index, modalFeature.images)" class="image-wrapper">
                          <img :src="image.image" alt="">
                        </div>
                    </swiper-slide>
                    <!-- Optional controls -->
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                  </swiper>
              </template>
              <template  slot="body">
                <div class="subtitle">
                  {{ modalFeature.title }}
                </div>
                <div v-if="modalFeature.text" class="text">
                  <span v-html="modalFeature.text"></span>
                </div>
                <div v-if="modalFeature.tour_duration" class="tour-duration">
                  Duração do Passeio: {{ modalFeature.tour_duration }}
                </div>
                <div v-if="modalFeature.text2" class="text">
                  <span v-html="modalFeature.text2"></span>
                </div>
                <div v-if="modalFeature.prices" :class="[modalFeature.prices.length > 1 ? 'multiple-wrapper' : '', 'prices']">
                  <div :class="[modalFeature.prices.length > 1 ? 'multiple' : '', 'price-wrapper']" v-for="price in modalFeature.prices">
                    <h2 class="name">{{ price.name }}</h2>
                    <div class="price">
                      <span class="">{{ price.name }}</span> R$: {{ price.price }}
                    </div>
                    <div class="obs">
                      {{ price.obs }}
                    </div>
                  </div>
                </div>
                <div class="open-lead">
                    <button @click="openLeadModal('feature', modalFeature.slug, modalFeature.name)">
                        Quero ser informado sobre <strong>{{ modalFeature.name }}</strong>
                    </button>
                </div>
                <div v-if="modalFeature.places.length > 0" class="places-wrapper">
                  <h2>Nosso Roteiro:</h2>
                  <div class="places">
                    <div class="place" v-for="place in modalFeature.places">
                      {{ place.name }}
                    </div>
                  </div>
                </div>
                <div v-if="modalFeature.whatsapp_link" class="whatsapp-wrapper">
                  <h2>Central de vendas e atendimento on-line</h2>
                  <i class="fas fa-angle-double-down"></i>
                  <a target="_blank" @click="trackZap(modalFeature.name)" :href="modalFeature.whatsapp_link">
                    <img src="images/zap.png"  alt="link whatsapp"/>
                  </a>
                </div>
              </template>
              <template slot="testimonial-slider">
                  <div class="feature-testimonial">
                      <swiper ref="featureTestimonialImagesSwiper" :options="featureTestimonialImagesSwiperOptions">
                        <!-- slides -->
                        <swiper-slide class="feature-image-slider" v-for="(image, index) in modalFeature.testimonials_images">
                            <div @click="openModalGallery(index,  modalFeature.testimonials_images)" class="image-wrapper">
                              <img :src="image.image" alt="">
                            </div>
                        </swiper-slide>
                        <!-- Optional controls -->
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                      </swiper>
                  </div>
              </template>
            </modal>
            <modalgallery @close="closeModalGallery" class="gallery-modal" v-if="this.showModalGallery">
                <template slot="images-slider">
                    <swiper ref="galleryImagesSwiper" :options="galleryImagesSwiperOptions">
                      <!-- slides -->
                      <swiper-slide class="gallery-image-slider" v-for="image in modalGalleryImages">
                          <div class="image-wrapper">
                            <img :src="image.image" alt="">
                          </div>
                      </swiper-slide>
                      <!-- Optional controls -->
                      <div class="swiper-button-prev" slot="button-prev"></div>
                      <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                </template>
            </modalgallery>
            <modallead @close="closeModalLead" class="lead-modal" v-if="this.showModalLead">
                <template slot="body">

                    <div class="form-wrapper">
                        <form  @submit="checkLeadForm" method="post">
                          <div v-if="!this.successLead">
                              <h1>Deixe seu contato para receber novidades sobre <span v-if="leadType === 'trip'">Trip's para </span> <strong>{{ leadTypeName }}</strong></h1>
                              <input type="text" v-model="lead_contact_name" name="nome" value="" placeholder="Nome">
                              <span v-if="lead_errors['lead_contact_name']" class="error">{{ lead_errors['lead_contact_name'] }}</span>
                              <input type="text" v-model="lead_contact_phone" v-mask="'(##) #####-####'" name="telefone" placeholder="Telefone"/>
                              <span v-if="lead_errors['lead_contact_phone']" class="error">{{ lead_errors['lead_contact_phone'] }}</span>
                              <input type="email" v-model="lead_contact_email" name="email" value="" placeholder="Email">
                              <span v-if="lead_errors['lead_contact_email']" class="error">{{ lead_errors['lead_contact_email'] }}</span>
                              <button  class="btn send-button">Enviar</button>
                          </div>
                          <div v-else>
                              <span class="success-lead" class="success">
                                  Obrigado!
                                  <br/>
                                  Mensagem Enviada!
                              </span>
                          </div>
                        </form>
                    </div>

                </template>
            </modallead>
            <div id="main-content" :class="mobileMenuOpen ? 'mobile-menu-open' : ''" >
                <header>
                  <div class="banner-slider">
                    <swiper ref="bannerSwiper" :options="bannerSwiperOptions">
                      <!-- slides -->
                      <swiper-slide v-for="banner in banners">
                        <div class="banner-image-wrapper" :style="{ backgroundImage: 'url(' + banner.image + ')' }">

                          <div class="header-content">
                            <div class="be-my-guest">
                              {{ banner.subtitle }}
                            </div>
                            <div class="welcome">
                              {{ banner.title }}
                          </div>

                          <div v-if="banner.button_label && banner.button_url"  class="btn-wrapper">
                              <a :href="banner.button_url" target="_blank" class="btn">
                                  {{ banner.button_label }}
                              </a>
                          </div>
                          </div>
                        </div>
                      </swiper-slide>
                      <div class="swiper-pagination"  slot="pagination"></div>
                    </swiper>
                  </div>
                  <div class="header-content-wrapper">
                    <div class="logo">
                        <img src="../images/logo-lotus.png" alt="">
                    </div>
                    <div class="menu">
                      <div class="menu-item">
                        <a href="#features" v-smooth-scroll="{ duration: 1000, offset: -200 }">Serviços</a>
                      </div>
                      <div class="menu-item">
                        <a href="#who-we-are" v-smooth-scroll="{ duration: 1000, offset: -50 }">Quem Somos</a>
                      </div>
                      <div class="menu-item">
                        <a href="#trips" v-smooth-scroll="{ duration: 1000, offset: -70 }">Trip's</a>
                      </div>
                      <div class="menu-item">
                        <a href="#contact" v-smooth-scroll="{ duration: 1000, offset: 100 }">Contato</a>
                      </div>
                    </div>

                  </div>
                  <div class="banner-separator">
                  </div>
                </header>
                <div class="separator"></div>
                <main>
                <a v-if="whatsapp_link" class="whatsapp-link" target="_blank" :href="whatsapp_link">
                  <img src="images/zap.png"  alt="link whatsapp"/>
                </a>
                  <h1 class="feature-section-title section-title">Serviços</h1>
                  <section id="features">
                    <div class="container">
                      <swiper ref="featuresSwiper" :options="featuresSwiperOptions">
                        <!-- slides -->
                        <swiper-slide v-for="feature in features">
                          <div class="feature-slider-item">
                            <div class="image-wrapper">
                              <img :src="feature.image" :alt="feature.name">
                            </div>
                            <button @click="openModal(feature)" class="title">
                              {{ feature.name }}
                            </button>
                          </div>
                        </swiper-slide>

                        <!-- Optional controls -->
                        <div class="swiper-pagination"  slot="pagination"></div>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                      </swiper>
                    </div>
                  </section>
                  <section id="who-we-are">
                    <div class="wrapper">
                      <h1>Quem Somos</h1>
                      <h2>Sobre a Lotús</h2>
                      <p>
                        {{ history }}
                      </p>
                      <h2>Missão</h2>
                      <p>
                        {{ mission }}
                      </p>
                      <h2>Valores</h2>
                      <p>
                        {{ values }}
                      </p>
                    </div>
                  </section>
                  <h1 class="section-title trips-section-title">Trip's</h1>
                  <section id="trips">
                    <div class="container">
                      <div class="image-wrapper">
                        <img src="images/arraial_trips.png" alt="Arraial">
                      </div>
                      <div class="check-out-wrapper">
                        <div class="check-out">
                          Confira </br>
                          <span>próximas trip's</span>
                          <div class="arrow">

                          </div>
                          <button v-for="trip in trips" @click="openModalTrips(trip)" class="btn">
                            {{ trip.place }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </section>

                  <section id="contact">
                     <div class="wrapper">
                        <div class="testimonials">
                            <div class="container">
                                <swiper ref="testimonialsSwiper" :options="testimonialsSwiperOptions">
                                  <!-- slides -->
                                  <swiper-slide class="testimonial-slider" v-for="testimonial in testimonials">
                                      <div class="testimonial">
                                          <div class="text">
                                              {{ testimonial.text }}
                                          </div>
                                          <div class="info">
                                              <div v-if="testimonial.image" class="testimonial-image-wrapper">
                                                  <img :src="testimonial.image" alt="">
                                              </div>
                                              <div class="name">
                                                  {{ testimonial.name }} <span v-if="testimonial.description">-</span>
                                                  <span v-if="testimonial.description">{{ testimonial.description }}</span>
                                              </div>

                                          </div>
                                      </div>
                                  </swiper-slide>
                                  <!-- Optional controls -->
                                  <div class="testimonial-swiper-pagination swiper-pagination"  slot="pagination"></div>
                                </swiper>
                                <div class="swiper-button-prev testimonial-swiper-button-prev" slot="button-prev"></div>
                                <div class="swiper-button-next testimonial-swiper-button-next" slot="button-next"></div>
                            </div>
                        </div>
                        <div class="container">
                          <div class="form-wrapper">
                            <form  @submit="checkForm" method="post">
                            <div v-if="!this.successContact">
                                <h1>Deixe seu contato para receber as melhores ofertas da Lótus</h1>
                                  <input type="text" v-model="contact_name" name="nome" value="" placeholder="Nome">
                                  <span v-if="errors['contact_name']" class="error">{{errors['contact_name']}}</span>
                                  <input type="text" v-model="contact_phone" v-mask="'(##) #####-####'" name="telefone" placeholder="Telefone"/>
                                  <span v-if="errors['contact_phone']" class="error">{{errors['contact_phone']}}</span>
                                  <input type="email" v-model="contact_email" name="email" value="" placeholder="Email">
                                  <span v-if="errors['contact_email']" class="error">{{errors['contact_email']}}</span>
                                  <button  class="btn">Enviar</button>
                              </div>
                              <span v-else class="success">
                                  <h1>Obrigado!</h1>
                                  Mensagem Enviada!
                              </span>
                            </form>
                          </div>
                          <div class="image-wrapper">
                            <img :src="contact_image" alt="">
                          </div>
                        </div>
                    </div>
                  </section>
                </main>
                <footer>
                    <div class="container">
                        <div class="social-info">
                            <a :href="facebook" target="_blank" class="social-url transition-hover-top"><i class="fab fa-facebook"></i></a>
                            <a :href="instagram" target="_blank" class="social-url transition-hover-top"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="company-info">
                            <span class="razao">{{ razao_social }} - </span><span class="cnpj"> {{ cnpj }}</span>
                            <br />
                            <span class="phone"> {{ phones }}</span>
                            <br />
                            <span class="adrress">{{ address }} </span>
                        </div>

                    </div>

                </footer>
            </div>
        </div>
    </body>
    <!-- Include stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">
    <!-- Include the Swiper library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Swiper JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

    <script src="https://unpkg.com/vue2-smooth-scroll"></script>
    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/modalGallery.js"></script>
    <script src="js/modalLead.js"></script>
    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
</html>
