@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-LightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "NeoSans";
    src: url("../fonts/NeoSansPro-Ultra.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura-Bold.TTF");
    font-weight: 700;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura-Medium.TTF");
    font-weight: 600;
}
$neosans: "NeoSans", Arial, Sans-serif;
$futura: "Futura", Arial, Sans-serif;
