@import 'reset';
@import 'fonts';
@import 'variables';
@import 'modal';

/****** Cores ******/

/*******************/

// Tamanhos de tela
$mobile-width: 768px;
$tablet-width: $mobile-width + 1px;
$desktop-width: 1280px;
$large-desktop-width: 1440px;

$mobile: "(max-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})";
$desktop: "(min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px})";

/******************/
@mixin transition($params) {
  -webkit-transition: $params;
     -moz-transition: $params;
   -khtml-transition: $params;
       -o-transition: $params;
          transition: $params;
}

@mixin scale($params) {
  -webkit-transform: scale($params);
     -moz-transform: scale($params);
   -khtml-transform: scale($params);
       -o-transform: scale($params);
          transform: scale($params);
}

@mixin box-shadow($params) {
  -webkit-box-shadow:$params;
     -moz-box-shadow:$params;
   -khtml-box-shadow:$params;
       -o-box-shadow:$params;
          box-shadow:$params;
}

@mixin rotate($params) {
  -webkit-transform: rotate($params);
     -moz-transform: rotate($params);
   -khtml-transform: rotate($params);
       -o-transform: rotate($params);
          transform: rotate($params);
}

@mixin opacity($opacity) {
  -webkit-opacity:$opacity;
     -moz-opacity:$opacity;
   -khtml-opacity:$opacity;
       -o-opacity:$opacity;
          opacity:$opacity;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
   -khtml-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #0ae;
  background-image: #126eab;
}
body { font-size: 16px; img{max-width: 100%;}}
.container{
  margin:0 auto;
  width: $desktop-width;
  @media #{$mobile} {
    padding: 0 20px;
    width: 100%;
  }
}
header{
  color: #FFF;
  height: 730px;
  .swiper-pagination-bullets{
    bottom: 60px!important;
  }
  .banner-slider{
    .banner-image-wrapper{
      height: 730px;
      position: relative;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      @media #{$mobile} {
        height: 80vh;
      }
      &::before{
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        content: '';
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%
      }
    }
  }
  @media #{$mobile} {
    height: 80vh;
  }
  .header-content-wrapper{
    z-index: 10;
    position: absolute;
    top: 30px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
      margin: 0 auto 15px auto;
      img{
        width: 250px;
        @media #{$mobile} {
          width: 180px;
        }
      }
    }
  }
  .menu{
    font-family: $neosans;
    text-transform: uppercase;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border: 1px solid #FFF;
    padding: 10px 0;
    position: relative;
    @media #{$mobile} {
      display: none;
    }

    .menu-item{
      cursor: pointer;
      padding: 5px 30px;
      a{
        color: inherit;
        text-decoration: none;
      }
      &:not(:last-child) {
        border-right: 1px solid #FFF;
      }
    }
  }
  .header-content{
    height: 56px;
    text-align: center;
    z-index: 10;

    .btn{
      padding: 10px 20px;
      background: #155386;
      color: #FFF;
      text-decoration: none;
      font-weight: 700;
      font-family: $futura;
      border-radius: 5px;
      font-size: 1.3rem;
    }
    .be-my-guest{
      font-family: $futura;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 15px;
      text-transform: uppercase;
      @media #{$mobile} {
        font-size: 1.2rem;
      }
    }
    .welcome{
      font-size: 5rem;
      text-shadow: 1px 0px 5px rgba(0,0,0,0.27);
      margin-bottom: 50px;
      @media #{$mobile} {
        font-size: 2rem;
      }
    }
  }
}

.banner-separator{
  background: url('../images/detalhe_banner.png') no-repeat bottom center;
  height: 56px;
  margin-top: -55px;
  z-index: 2;
  position: relative;
}

.btn-menuMobile-wrapper{

  background: rgb    a(0,0,0,0.3);
  position: fixed;
  left: 15px;
  z-index: 30;
  top: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1.8rem;
}
#btn-menuMobile{
  text-align: center;
  box-sizing:border-box;
  z-index:30;
  cursor:pointer;
  @include transition(all 0.3s ease-in);
}

#main-content{
  @include transition(all 0.3s ease-in);
}
.menu-mobile-wrapper{
  display: none;

  @media #{$mobile} {
    display: block;
    z-index: 99;
    position: relative;
  }
  .close{
    display: none;
  }
  .menu-mobile {
    position:fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index:10;
    color: #FFF;
    height: 100vh;
    list-style-type:none;
    padding: 100px 0 0 30px;
    overflow:hidden;
    font-family: $neosans;
    text-transform: uppercase;
    margin-left: -300px;


    @include transition(all 0.6s ease-in);
    li {
      font-size: 1.3rem;
      font-weight: 700;
      height:30px;
      width:0;
      margin:30px 0;
      margin-left: -100px;
      a{
        color: #FFF;
        text-decoration: none;
      }
      @include transition(all 0.6s ease-in);
      & + li {
        margin-left:-220px;
        & + li {
          margin-left:-90px;
          & + li {
            margin-left:-140px;
          }
        }
      }
    }
  }
  &.mobile-menu-open{
    .menu-mobile{
      width: 100%;

      margin-left: 0;
    }
    .open{
      display: none;
    }
    .close{
      color: #FFF;
      display: block;
    }
    .menu-mobile li {
      width:200px;
      margin-left:0;
    }
    .btn-menuMobile-wrapper{
      background: rgba(255, 255, 255, 0.5);
    }
    #btn-menuMobile {
      border-color:transparent;
      &:before {
        @include rotate(45deg);
        width:33px;
        left:-2px;
      }
      &:after {
        @include rotate(135deg);
        bottom:11px;
        width:33px;
        left:-2px;
      }
    }
  }
}
.section-title{
  font-family: $futura;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #888;
  font-weight: 700;
  text-align: center;
  max-width: $desktop-width;
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media #{$mobile} {
    max-width: 90%;
  }
  &:before,
  &:after {
      content: '';
      border-top: 2px solid #9e9c9c;
      margin: 0 50px 0 0;
      flex: 1 0 50px;
      @media #{$mobile} {
        margin: 0 10px 0 0;
      }
  }

  &:after {
      margin: 0 0 0 50px;
      @media #{$mobile} {
        margin: 0 0 0 10px;
      }
  }
}

.separator{
  background: url('../images/faixaite.png') no-repeat top center;
  height: 56px;
  margin-top: -25px;
}
#who-we-are{
  min-height: 613px;
  padding: 60px 0 80px 0;
  background:  url('../images/arvores_fundo.png') no-repeat top center;
  background-size: cover;
  @media #{$mobile} {
    height: auto;
    background-position: right;
  }
  .wrapper{
    margin: 0 auto;
    width: 800px;
    @media #{$mobile} {
      padding: 0 20px;
        width: 100%;
    }
  }
  h1{
    font-family: $futura;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }
  h2{
    font-family: $neosans;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #888;
    font-weight: 400;
    text-align: center;
  }
  p{
    margin-bottom: 25px;
    font-family: Arial;
    text-align: justify;
    color: #9e9c9c;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
.linha {
    width: 100%;
    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        @media #{$mobile} {
            width: 90%;
        }
    }
}

.feature-section-title{
  margin-top: 40px;
}
#features{
  background: url('../images/pincelada_fundo_serviços.png') no-repeat top center;
  background-size: cover;
  margin-top: -100px;
  @media #{$mobile} {
    margin-top: auto;
  }

  .swiper-container{
    padding: 55px 0;
      @media #{$mobile} {
        padding: 0 0 35px 0;
      }
  }
  .feature-slider-item{
    text-align: center;
    .image-wrapper{
      margin: 0 auto;
      overflow: hidden;
      width: 300px;
      height: 300px;
      -webkit-clip-path: circle(50% at 50% 72%);
      clip-path: circle(50% at 50% 72%);
      padding: 8px 5px 5px 5px;
      background: #FFF;
      @media #{$mobile} {
        width: 250px;
        height: 250px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-clip-path: circle(50% at 50% 72%);
        clip-path: circle(50% at 50% 72%);
      }
    }
    .title{
      cursor: pointer;
      margin: 15px auto;
      font-family: $futura;
      border-radius: 20px;
      background: #FFF;
      text-transform: uppercase;
      color: #333;
      width: 300px;
      padding: 10px 20px;
      @media #{$mobile} {
        width: 100%;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev{
    @media #{$mobile} {
      display: none;
    }
  }
}
.trips-section-title{
  margin: 40px auto 20px
}
#trips{
  background: url('../images/banner_trips.png') no-repeat top center;
  background-size: cover;
  margin-top: 30px;
  min-height: 434px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
  .container{
    display: flex;
    justify-content: center;
    @media #{$mobile} {
      flex-direction: column;
      align-items: center;
      margin: 40px 0;
    }
  }
  .image-wrapper, .check-out-wrapper{
    flex-basis: 50%;
  }
  .image-wrapper{
    @media #{$mobile} {
      margin-bottom: 40px;
    }
  }
  .check-out-wrapper{
    display: flex;
  }
  .check-out{

    text-align: center;
    font-size: 3.5rem;
    color: #FFF;
    font-family: $neosans;
    font-weight: 700;
    text-transform: uppercase;
    @media #{$mobile} {
      font-size: 2.8rem;
    }
    span{
      font-size: 2.8rem;
      @media #{$mobile} {
        font-size: 2.5rem;
      }
    }
    .arrow{
      margin: 15px auto 35px auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 37.5px 0 37.5px;
      border-color: #ffffff transparent transparent transparent;
      @media #{$mobile} {
        border-width: 33px 30.5px 0 30.5px;
      }
    }
    .btn{
      display: block;
      display: inline-block;
      margin-right: 12px;
      background: #155386;
      color: #FFF;
      cursor: pointer;
      font-size: 2rem;
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 43px;
      text-transform: uppercase;
      @media #{$mobile} {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
    }
  }

}
.trips-images{
  margin-top: 30px;
}
.success-lead{
  color: #333;
  text-align: center;
  font-family: $neosans;
  font-weight: 700;
  display: block;
  line-height: 2rem;
  font-size: 1.3rem;
  margin-bottom: 7px;
}
#contact{
  background: url('../images/nuvens_fundo.jpg') no-repeat top center;
  background-size: cover;
  min-height: 766px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @media #{$mobile} {
    min-height: auto;
    padding-top: 50px;
  }
  .success{
    color: #FFF;
    font-family: $neosans;
    font-weight: 700;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 7px;
  }
  .error{
    margin-top: -15px;
    color: #FFF;
    font-family: Arial;
    display: block;
    font-size: 0.8rem;
    margin-bottom: 7px;
  }
  .container{
      display: flex;
      @media #{$mobile} {
        flex-direction: column;
      }
  }
  .wrapper{
    width: 100%;
  }
  .form-wrapper{
    display: flex;
    flex-basis: 50%;
    margin: 30px 0 -235px 0;
    justify-content: center;
    align-items: center;
    @media #{$mobile} {
      flex-basis: 100%;
      flex-direction: column;
      margin: 30px 0;
    }
    .btn{
      display: block;
      margin: 0 auto;
      background: #155386;
      color: #FFF;
      font-size: 1.2rem;
      cursor: pointer;
      height: 35px;
      padding: 0 20px;
      line-height: 39px;
      border-radius: 30px;
      font-family: $neosans;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .image-wrapper{
    flex-basis: 50%;
    margin-bottom: -55px;
    text-align: right;
    @media #{$mobile} {
      flex-basis: 100%;
    }
    img{
      width: 500px;
      @media #{$mobile} {
        width: 100%;
      }
    }
  }
  h1{
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 25px;
    color: #FFF;
    font-family: Arial;
    font-weight: 500;
    text-shadow: 1px 0px 5px rgba(0,0,0,0.27);
  }
  form{
    text-align: center;
    width: 410px;
    display: flex;
    flex-direction: column;
    @media #{$mobile} {
      width: 100%;
    }
    input{
      margin-bottom: 20px;
      border-radius: 5px;
      height: 40px;
      width: 100%;
      padding: 10px;
      font-family: sans-serif;
      font-size: 1.2rem;
    }
  }
}
footer{
  background: url('../images/rodape_fundo.jpg') no-repeat top center;
  background-size: cover;
  min-height: 314px;
  display: flex;

  .container{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .company-info{
    margin-top: 15px;
    color: #FFF;
    font-family: $neosans;
    font-family: $futura;
    text-align: center;
    line-height: 1.5rem;
  }
  .social-info{
    .social-url{
      position: relative;
      color: #FFF;
      padding: 1.6rem;
      font-size: 1.0625rem;
      width: 1.94rem;
      height: 1.94rem;
      line-height: 1.6;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,transform .25s ease-in-out;
      i{
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);
        vertical-align: middle;
        display: inline-block;
        z-index: 2;
      }
      &::after{
        content: "";
        background-image: linear-gradient(-315deg, rgba(217, 63, 44, 0.8), rgba(217, 63, 44, 0.8));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
      }
      &:hover{
        background-color: #771d12;
        border-color: #771d12;
      }
    }
    .social-url+.social-url {
      margin-left: .5rem;
    }
  }
}

.transition-hover-top{
  transform: translateX(0);
  transform: translateY(0);
  transform:translateZ(0)
}
.transition-hover-top:focus, .transition-hover-top:hover{
  transform:translateY(-3px)
}

.feature-modal{
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-image: #126eab;
  }

  ::-webkit-scrollbar
  {
    width: 5px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: #0ae;
    background-color: #F5F5F5;
  }
  .modal-wrapper{
    min-height: 70vh;
  }
  .swiper-container{
    padding: 0 45px;
    margin: 0px -45px;
    @media #{$mobile} {
      padding: 0 25px;
      margin: 0 -25px;
    }
  }
  .modal-container{
    background: url('../images/arvores_fundo.png') no-repeat bottom center;
    background-color: #FFF;
    position: relative;
    padding: 10px 30px 20px 30px;
    min-height: 100%;
  }
  .modal-body{
    width: 80%;
    margin: 0 auto;
    @media #{$mobile} {
      width: 100%;
    }
    p{
      margin: 10px 0;
    }
    strong{
      font-weight: 600;
    }
  }
  .modal-header{
    overflow: hidden;
    margin: 0 -30px;
    h1{
      margin: 0 -60px 20px -60px;
      font-family: $futura;
      text-transform: uppercase;
      text-align: center;
      color: #FFF;
      font-size: 2.5rem;
      height: 65px;
      font-weight: 700;
      line-height: 72px;
      background: url( '../images/pincelada_fundo_titulos.png') no-repeat top center;
      background-size: 100% 100%;
      @media #{$mobile} {
        height: auto;
        font-size: 1.8rem;
        line-height: 2rem;
        padding: 15px 45px 15px 15px;
        margin: 0 -10px 20px -10px;
      }
    }
  }
  .feature-image-slider{
    height: 160px;
    .image-wrapper{
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .subtitle{
    margin: 40px 0 20px 0;
    background: url( '../images/pincelada_fundo_titulos.png') no-repeat top center;
    color: #FFF;
    background-size: 100% 100%;
    font-family: arial;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 15px 47px;
    text-align: center;
    @media #{$mobile} {
      padding: 15px;
      margin: 0 -25px;
    }

  }
  .text{
    color: #555;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: $neosans;
  }
  .tour-duration{
    background: url( '../images/pincelada_fundo_titulos.png') no-repeat top left;
    color: #FFF;
    font-family: arial;
    font-size: 1.2rem;
    display: inline-block;
    background-size: 100% 100%;
    font-weight: 600;
    line-height: 1.4rem;
    padding: 5px 35px 5px 15px;
    margin: 20px 0px;
  }
  .places-wrapper{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    @media #{$mobile} {
      width: 100%;
    }
    h2{
      background: url( '../images/pincelada_fundo_titulos.png') no-repeat top left;
      color: #FFF;
      font-family: $neosans;
      font-size: 1.8rem;
      background-size: 100% 100%;
      font-weight: 700;
      line-height: 2rem;
      padding: 6px;
      text-align: center;
    }
    .places{
      margin: 10px 0;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 30px;
      grid-gap: 0 20px;
      @media #{$mobile} {
        display: flex;
        flex-direction: column;
      }
    }

    .place{
      color: #808080;
      font-family: $neosans;
      font-weight: 600;
      text-align: center;
      font-size: 1.2rem;
      line-height: 30px;
      &:nth-child(4n+2) {
        background-color: #cacaca !important;
        @media #{$mobile} {
          background-color: transparent !important;
        }
      }
      &:nth-child(4n-1) {
        background-color: transparent !important;
        @media #{$mobile} {
          background-color: #cacaca !important;
        }
      }
      &:nth-child(4n) {
        background-color: transparent!important;
        @media #{$mobile} {
          background-color: transparent !important;
        }
      }
      &:nth-child(4n+1) {
        background-color: #cacaca!important;
        @media #{$mobile} {
          background-color: #cacaca !important;
        }
      }

    }
  }
  .prices{
    font-family: $neosans;
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0 10px 0;
    h2{
      font-weight: 600;
      text-transform: uppercase;
    }
    .price{
      color: #FFF;
      padding: 0 40px;
      min-width: 400px;
      line-height: 40px;
      min-height: 40px;
      text-align: center;
      min-width: 223px;
      background: #444;
      display: inline-block;
      border: 1px solid #FFF;
      outline: 1px dashed #444;
      margin: 5px 0;
      @media #{$mobile} {
        min-width: 100%;
        width: 100%;
      }
      span{
        display: none;
        font-weight: 700;
      }
    }
    &.multiple-wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media #{$mobile} {
        flex-direction: column;
      }
    }
    .multiple{
      text-align: center;
      width: 50%;
      @media #{$mobile} {
        margin-bottom: 20px;
        width: 100%;
      }
      .name{
        display: none;
      }
      .price{
        outline: 2px dashed #444;
        &:not(:first-child){
          margin-left: 20px;
          @media #{$mobile} {
            margin-left: auto;
          }
        }
        span{
          display: inline;
        }
      }
    }
    .obs{
      margin-top: 10px;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  .whatsapp-wrapper{
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-family: $neosans;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    @media #{$mobile} {
      position: relative;
      width: 100%;
      position: unset;
      font-size: 1.2rem;
      margin-top: 50px;
    }
    img{
      margin-top: 15px;
      width: 70px;
    }
  }
  .feature-testimonial{
    width: 87%;
    margin: 0 auto;
    margin-top: 45px;
  }
}

.trips-modal{
  p{
    margin: 20px 0;
  }
  strong{
    font-weight: 700;
  }
  .swiper-container{

    padding: 0 45px;
    margin: 0px -45px;
  }
  .trips-testimonial{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .modal-container{
    padding: 0;
    background-color: #155386;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/fundo_trips.jpg);
  }
  .header{
    height: 260px;
    background: url('../images/header_trips.jpg') no-repeat top center;
    padding: 35px 60px 0 60px;
    background-size: 100% auto;
    display: flex;
      @media #{$mobile} {
        padding: 20px;
        background-size: auto;
      }
    .trips{
      margin-top: 25px;
      img{
        width: 335px;
      }
      @media #{$mobile} {
        display: flex;
        align-items: center;
      }
    }
    .arraial{
      display: flex;
      align-items: center;
      padding-left: 80px;
      @media #{$mobile} {
        margin-top: 25px;
        padding-left: 20px;
      }
      img{
        height: 130px;
        @media #{$mobile} {
          height: auto;
        }
      }
    }
    .trips, .arraial{
      width: 50%;
    }
  }
  .wrapper{
    width: 80%;
    margin: 0 auto;
    @media #{$mobile} {
      width: 100%;
      padding: 0 20px;
    }
  }
  .content{
    text-align: center;
    color: #FFF;
    font-family: $neosans;
    padding-bottom: 70px;
    .title{
      font-size: 1.5rem;
      font-family: $futura;
      color: #01ffff;
      font-weight: 700;
      padding: 15px 0;
    }
    .subtitle{
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    .highlight{
      margin: 15px 0;
      background: url(../images/pincelada_fundo_titulos.png) no-repeat top center;
      color: #FFF;
      background-size: 100% 100%;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.5rem;
      padding: 15px 47px;
      text-align: center;
    }
  }
  .included-items{
    h1{
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
    ul{
      background: #185c8e;
      font-size: 1.3rem;
      padding: 30px 50px;
      border-radius: 25px;
      line-height: 1.8rem;
      text-align: left;
      @media #{$mobile} {
        padding: 15px 20px;
      }
      li{
        position: relative;
        text-indent: 27px;

        &:not(:last-child){
          margin-bottom: 15px;
        }
        &:before{
          content: '';
          height: 19px;
          width: 19px;
          left: 0;
          top: 3px;
          position: absolute;
          background: url(../images/check-bullet.png) no-repeat center;
          background-size: 100%;
        }
      }
    }
  }
  .sale-text{
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 1.7rem;
  }
  .dates{

    .date-wrapper{
      background: #01ffff;
      border-radius: 50px;
      color: #155386;
      min-width: 100px;
      font-size: 1.3rem;
      font-weight: 700;
      height: 34px;
      line-height: 34px;
      padding: 0 30px;
      display: inline-block;
      &:not(:last-child){
        margin-right: 15px;
        @media #{$mobile} {
          margin-right: auto;
          margin-bottom: 15px;
        }
      }
    }
  }
  .obs{
    font-size: 1.1rem;
    margin: 50px 0;
    line-height: 1.6rem;
  }
  .payment-information{
    font-size: 1.2rem;
    line-height: 1.7rem;
    h1{
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-family: $futura;
      color: #01ffff;
      font-weight: 700;
    }
  }
}
.modal-container{
  @media #{$mobile} {
    width: 100%;
  }
}

.gallery-modal{
  .close{
    top: -30px;
  }
  .modal-container{
    width: auto;
    max-width: 80%;
    padding: 0px;
    background: transparent;
    box-shadow: none;
  }
  .image-wrapper{
    max-height: 80vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 80vh;
      padding: 10px;
      background: #FFF;
      box-shadow: 0 2px 8px rgba(0,0,0,0.33);

    }
  }
  .swiper-wrapper{
        align-items: center;
  }
}

.testimonials{
  margin-bottom: 120px;
  @media #{$mobile} {
    margin-bottom: 0px;
  }
  .container{
    position: relative;
    width: 40%;
    @media #{$mobile} {
      width: 100%;
      display: block!important;
    }
  }
  .testimonial-swiper-button-prev{
    left: -30px;
    @media #{$mobile} {
      display: none;
    }
  }
  .testimonial-swiper-button-next{
    right: -30px;
    @media #{$mobile} {
      display: none;
    }
  }
  .swiper-wrapper{
    width: 100%;
  }
  .swiper-pagination{
    bottom: 0px !important;
  }
  .testimonial-slider{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
    padding-bottom: 45px;
  }
  .testimonial{
    margin: 20px;
    padding: 20px;
    background: #FFF;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 4px 11px 0px rgba(0,0,0,0.33);
    width: 95%;

    @media #{$mobile} {
      padding: 15px;
    }
    &::before{
      content: url(../images/quote-right-solid.svg);
      width: 30px;
      display: block;
      @media #{$mobile} {
        width: 20px;
      }
    }
    &::after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 28px 0px 0 30px;
      border-color: #ffffff transparent transparent transparent;
      bottom: 10px;
      bottom: -25px;
      position: absolute;
      left: 70px;
      filter: drop-shadow(1px 8px 4px rgba(0,0,0,0.33))
    }
    .text{
      font-family: Arial;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 15px 0;
      color: #999;

      @media #{$mobile} {
        padding: 10px 0;
      }
    }
    .info{
      font-size: 0.9rem;
      font-family: Arial;
      display: flex;
      align-items: center;
      .testimonial-image-wrapper{
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .name{
        font-weight: 700;
        padding-left: 10px;
        color: #777;
        span{
          color: #155385;
        }
      }
    }
  }
}
.whatsapp-link{
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 100;

  @media #{$mobile} {
    bottom: 20px;
    right: 20px;
  }

  img{
    width: 60px;
    filter: drop-shadow(1px 4px 4px #222);
    @media #{$mobile} {
      width: 45px;
    }
  }
}

.open-lead{
  text-align: center;
  padding-top: 25px;
  button{
    background: #7cc242;
    color: #FFF;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: 600;
    font-family: $neosans;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    strong{
      font-weight: 700 !important;
    }
  }
}
.lead-modal{
  .close{
    color: #b9b9b9;
  }
  .modal-container{
    width: 550px;

    h1{
      font-family: $neosans;
      font-size: 1.2rem;
      color: #666;
      line-height: 1.6rem;
      margin-bottom: 25px;
    }

    form{
      display: flex;
      flex-direction: column;
      input{
        margin-bottom: 20px;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        padding: 10px;
        font-family: sans-serif;
        font-size: 1.2rem;
        border: 1px solid #ddd;
      }
      .error{
        margin-top: -15px;
        color: red;
        font-family: Arial;
        display: block;
        font-size: 0.8rem;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    strong{
      font-weight: 700
    }
    .send-button{
      display: block;
      margin: 0 auto;
      background: #155386;
      color: #FFF;
      font-size: 1.2rem;
      cursor: pointer;
      height: 35px;
      padding: 0 20px;
      line-height: 39px;
      border-radius: 30px;
      font-family: $neosans;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
