<html>
    <body>
        <table>
            <tr>
                Nome: {{ data.name }}
            </tr>
            <tr>
                Telefone: {{ data.phone }}
            </tr>
        </table>
    </body>
</html>
